{% extends 'base.html' %}

{% block content %}
<div class="success-message">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="error-message">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

<div class="message-container">
    <h1>Enviar Mensaje</h1>
  
    <form method="post" class="message-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="submit-button">Enviar</button>
    </form>
  
   
  </div>
  
{% endblock %}
