<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/f308d8c25e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>FORMULARIO DE REGISTRO E INICIO SESIÓN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estiloss.css' %}">

</head>
<body>

    <!-- primer container de bienvenida -->

  <!-- primer container de bienvenida -->
<div class="container-form register">
    <div class="information">
        <div class="info-childs">
            <h2>Bienvenido</h2>
            <p>Para unirte a nuestra comunidad, puedes crear una cuenta con tus datos.</p>
            <input type="button" value="Regístrate" id="sign-in">
        </div>
    </div>

    <div class="form-information">
        <div class="form-information-childs">
            <h2> Iniciar Sesión </h2>
            <div class="icons">
                <i class='bx bxl-google'></i>
                <i class='bx bxl-facebook'></i>
                <i class='bx bx-envelope'></i>
            </div>

            <form class="formu">
                <label>
                    <i class='bx bx-user'></i>
                    <input type="text" placeholder="Nombre Usuario">
                </label>

                <label>
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" placeholder="Contraseña">
                </label>
                <input type="submit" value="Iniciar Sesión">
            </form>

        </div>
    </div>
</div>


<!-- segundo container para el Registro -->
<div class="container-form login hide">
    <div class="information">
        <div class="info-childs">
            <h2>¿Nuevo Usuario?</h2>
            <p>Para iniciarte con nosotros, dinos que tipo de Colaborador.</p>
            <input type="button" value="volver" id="sign-up">
        </div>
    </div>

    <div class="form-information">
        <div class="form-information-childs">
            <h2> ¿Quien es Usted? </h2>
            <br>

          <a href="{% url 'registro' %}">  
            <div class="circle">
                <!-- Container for the first circular button -->
                <button class="circle-button">
                    <div class="circle-content">
                        <img src="{% static 'img/vecino.png' %}" alt="Imagen 1" class="circle-image" style="width: 200px; height: 200px;">
                        <p class="button-text">Vecino</p>
                        
                    </div>
                </button>
            </div>
        </a>  
            
            <div class="circle">
                <!-- Container for the second circular button -->
                <button class="circle-button">
                    <div class="circle-content">
                        <img src="{% static 'img/presidente.png' %}" alt="Imagen 2" class="circle-image" style="width: 200px; height: 200px;">
                        <p class="button-text">Presidente</p>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>

    <script src="{% static 'js/iniciar_secion.js' %}"></script>

</body>
</html>