* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------------------------- */
/* -----------------iniciar secion-------------- */
/* --------------------------------------------- */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-image: url(img/Barrio_iniciar\ secion.jpg);
    background-size: cover;
}

/* -----------------lado de Bienvenida-------------- */

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5); 
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
    border: 1px solid red; 
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #c7eef3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #333;
}

.info-childs p {
    margin: 15px 0;
    color: #555; 
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: 2px solid #9191bd; 
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color 2s ease; 
}

.info-childs input:hover {
    background-color: #9191bd; 
    border: none;
    color: #fff; 
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); 
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* -----------------lado de Crear Cuenta-------------- */

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs {
    padding: 8px 30px; 
}

.form-information-childs h2 {
    color: #333; 
    font-size: 2rem;
}

.form-information-childs p {
    color: #555;
}

.icons {
    margin: 15px 0;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd; 
    border: 1px solid #9191bd; 
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); 
}

.icons i:hover {
    background-color: #c7c7f3;
    color: #fff; 
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* -----------------lado de Crear Cuenta (Formulario)-------------- */

.formu {
    margin-top: 30px;
}

.formu label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff; 
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); 
}

.formu label input {
    width: 100%;
    padding: 10px;
    background-color: #fff; 
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.formu label i {
    color: #a7a7a7; 
}

/* -----------------lado de Crear Cuenta (Formulario)-------------- */
/* ----------------- bonon de Registrarse -------------- */

.formu input[type="submit"] {
    background-color: #9191bd;
    color: #fff; 
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); 
}

.formu input[type="submit"]:hover {
    background-color: #7a7a9a;
}

/* ---------------- efecto desaparecer ------------ */
.hide {
    position: absolute;
    transform: translateY(-300%);
}

/* --------------------------------------------- */
/* ---------------- RESPONSIVE FORMU ------------ */
/* --------------------------------------------- */

@media screen and (max-width: 750px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    html {
        font-size: 10px;
    }

    .container-form{
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0; 
    }
    
    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }

}

/* --------------------------------------------- */
/* ---------------- estilo de los 2 botones ------------ */
/* --------------------------------------------- */

/* CSS for the circular buttons */
.circle-button {
    border: none;
    box-shadow: none;
    padding: 0; /* Remove any internal padding */
    background-color: transparent; /* Remove background color */
    position: relative; /* Enable relative positioning for child elements */
}

/* CSS for centering the circular buttons horizontally */
.circle-container {
    text-align: center; /* Center the buttons horizontally */
}

/* CSS for displaying the circular buttons inline (side by side) */
.circle {
    display: inline-block;
    margin: 0 10px; /* Add spacing between the buttons */
    position: relative; /* Enable relative positioning for child elements */
}

/* CSS to style the text on the circular buttons */
.button-text {
    position: absolute;
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow (optional) */
}

/* Estilo para el mensaje de error */
.error-message {
    margin-top: 20px; /* Espacio superior para separar el mensaje de error del formulario */
  }
  
  /* Estilo para los mensajes de error dentro del mensaje de error */
  .error-message .alert {
    background-color: #f8d7da; /* Color de fondo para mensajes de error */
    color: #721c24; /* Color del texto de mensajes de error */
    border: 1px solid #f5c6cb; /* Borde para mensajes de error */
    padding: 10px; /* Espaciado interno para mensajes de error */
    border-radius: 4px; /* Borde redondeado para mensajes de error */
  }
  
  /* Estilo para el botón de enviar */
  .submit-button {
    background-color: #007bff; /* Color de fondo del botón de enviar */
    color: #fff; /* Color del texto del botón de enviar */
    border: none; /* Sin borde en el botón de enviar */
    padding: 10px 20px; /* Espaciado interno en el botón de enviar */
    border-radius: 4px; /* Borde redondeado en el botón de enviar */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón de enviar */
  }
  
  /* Estilo para el botón de enviar al pasar el cursor */
  .submit-button:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el cursor */
  }
  
  /* Estilos para los mensajes de error */
  .error-message {
    
    color: #ff0000;
    margin-top: 10px;
    font-size: 13px; /* Font size */


}

/* Estilos para mensajes de éxito en la nueva vista */
.message-container .success-message {
    color: green; /* Cambia el color del texto a verde */
    background-color: lightgreen; /* Cambia el color de fondo a verde claro */
    border: 1px solid darkgreen; /* Cambia el borde a verde oscuro */
    padding: 10px; /* Añade espacio de relleno para que se vea mejor */
    border-radius: 5px; /* Agrega bordes redondeados */
    font-weight: bold; /* Hace que el texto sea más visible */
}




